.grid {
    margin: 150px 0 0;
}

.button {
    shape-rendering: geometricPrecision;
    border-radius: 50%;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #73d6e1;
    border: burlywood;
    cursor: pointer;
}